#!/bin/sh
printf "%.s=" $(seq 1 $(tput cols))
echo
echo "Installing nerd fonts and symbols:"
echo
for font in NerdFontsSymbolsOnly CascadiaCode CaskaydiaMono CodeNewRoman FiraCode JetBrainsMono Meslo SourceCodePro UbuntuMono VictorMono
do
    if [ ! -d "$HOME/.local/share/fonts/$font" ] ; then
        wget "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/$font.zip" --directory-prefix ~/.local/share/fonts
        unzip ~/.local/share/fonts/$font.zip -d ~/.local/share/fonts/$font/ > /dev/null
        rm ~/.local/share/fonts/$font.zip -f
        rm ~/.local/share/fonts/$font/*Windows* -f
        echo "Installed $font."
        echo
    else
        echo "$font already installed."
        echo
    fi
done

printf "%.s=" $(seq 1 $(tput cols))
echo
echo "Setting up ZSH as the default shell:"
chsh $USER -s $(which zsh)


# Install Oh My Zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
    log_info "Installing Oh My Zsh..."
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    echo "Oh My Zsh installed"
else
    echo "Oh My Zsh already installed"
fi

# Install zsh plugins
log_info "Installing zsh plugins..."
ZSH_CUSTOM="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}"

if [ ! -d "$ZSH_CUSTOM/plugins/zsh-autosuggestions" ]; then
    git clone https://github.com/zsh-users/zsh-autosuggestions "$ZSH_CUSTOM/plugins/zsh-autosuggestions"
    echo "zsh-autosuggestions installed"
else
    echo "zsh-autosuggestions already installed"
fi

if [ ! -d "$ZSH_CUSTOM/plugins/fast-syntax-highlighting" ]; then
    git clone https://github.com/zdharma-continuum/fast-syntax-highlighting.git \
      "$ZSH_CUSTOM/plugins/fast-syntax-highlighting"
    echo "fast-syntax-highlighting installed"
else
    echo "fast-syntax-highlighting already installed"
fi



echo $SHELL

wget "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.zip"
unzip ~/eza_x86_64-unknown-linux-gnu.zip > /dev/null
rm ~/eza_x86_64-unknown-linux-gnu.zip
mkdir ~/.locai/bin
mv ~/eza ~/.local/bin/eza


ls ~/.local/bin


if type op >/dev/null 2>&1 && type 1password >/dev/null 2>&1; then
    echo "1password already installed"
else

    echo "Installing 1Password CLI and Desktop App..."

    # Add the GPG key, if not already added
    if ! rpm -q gpg-pubkey-76d78fad-645b273b > /dev/null 2>&1; then
        sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
    fi

    # Add the repository, if not already added
    if ! [ -f /etc/yum.repos.d/1password.repo ]; then
        sudo sh -c 'echo -e "[1password]\nname=1Password\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" > /etc/yum.repos.d/1password.repo'
    fi


    # Install the CLI and Desktop App
    sudo dnf install -y 1password-cli 1password

    echo "1Password CLI and Desktop App installed successfully. "


fi



