#!/bin/bash

sudo dnf install fedora-workstation-repositories
sudo dnf config-manager setopt google-chrome.enabled=1

sudo dnf -y install dnf-plugins-core
sudo dnf config-manager addrepo --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo

sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\nautorefresh=1\ntype=rpm-md\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
dnf check-update


{{ range .fedora.copr -}}
{{   $repo_filename := printf "_copr_%s.repo" (. | replace "/" "-") }}
{{   $repo_path := joinPath "/etc/yum.repos.d" $repo_filename }}
if [ ! -f {{ $repo_path | quote }} ]; then
    sudo dnf copr enable {{ . | quote }} --assumeyes
fi
{{ end -}}


{{ range .fedora.packages -}}
if ! rpm -q {{ . | quote }} >/dev/null 2>&1; then
    sudo dnf install -y {{ . | quote }}
fi
{{ end -}}

sudo systemctl enable --now libvirtd
sudo usermod -aG libvirt $(whoami)
sudo usermod -aG kvm $(whoami)

{{ range .fedora.flathub -}}
if ! flatpak info {{ . | quote }} >/dev/null 2>&1; then
    flatpak install flathub {{ . | quote }} --assumeyes
fi
{{ end -}}

sudo usermod -aG docker $USER
sudo systemctl enable --now docker

riables
ANDROID_STUDIO_URL="https://redirector.gvt1.com/edgedl/android/studio/ide-zips/2025.1.4.8/android-studio-2025.1.4.8-linux.tar.gz"
INSTALL_DIR="/opt/android-studio"
SYMLINK_DIR="/usr/local/bin"
DESKTOP_FILE_DIR="/usr/share/applications"
DOWNLOAD_DIR=$(mktemp -d)

# Ensure the script is run as root
if [ "$EUID" -ne 0 ]; then
  echo "Please run as root"
  exit 1
fi

# Check if Android Studio is already installed
if [ -d "$INSTALL_DIR" ]; then
  echo "Android Studio is already installed in $INSTALL_DIR. Skipping installation."
  exit 0
fi

echo "Downloading Android Studio..."
wget -q --show-progress -O "${DOWNLOAD_DIR}/android-studio.tar.gz" "$ANDROID_STUDIO_URL"

echo "Installing Android Studio to $INSTALL_DIR..."
mkdir -p "$INSTALL_DIR"
tar -xzf "${DOWNLOAD_DIR}/android-studio.tar.gz" -C "$INSTALL_DIR" --strip-components=1

echo "Creating symlink..."
ln -sf "${INSTALL_DIR}/bin/studio.sh" "${SYMLINK_DIR}/android-studio"

echo "Creating desktop entry..."
cat <<EOF > "${DESKTOP_FILE_DIR}/android-studio.desktop"
[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=${INSTALL_DIR}/bin/studio.svg
Exec="${INSTALL_DIR}/bin/studio.sh" %f
Comment=The official IDE for Android app development
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
EOF

echo "Cleaning up..."
rm -rf "$DOWNLOAD_DIR"

echo "Android Studio installation complete."
