#!/bin/bash

sudo dnf install fedora-workstation-repositories
sudo dnf config-manager setopt google-chrome.enabled=1

sudo dnf -y install dnf-plugins-core
sudo dnf config-manager addrepo --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo


{{ range .fedora.copr -}}
sudo dnf copr enable {{ . | quote }} --assumeyes
{{ end -}}


{{ range .fedora.packages -}}
sudo dnf install {{ . | quote }} --assumeyes
{{ end -}}

sudo systemctl enable --now libvirtd
sudo usermod -aG libvirt $(whoami)
sudo usermod -aG kvm $(whoami)
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\nautorefresh=1\ntype=rpm-md\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
dnf check-update

{{ range .fedora.flathub -}}
flatpak install flathub {{ . | quote }} --assumeyes
{{ end -}}

sudo usermod -aG docker $USER
sudo systemctl enable --now docker
