[hooks.apply.pre]
    command = "echo"
    args = ["pre-apply-hook"]

[hooks.apply.post]
    command = "echo"
    args = ["post-apply-hook"]

[hooks.init.pre]
    command = "echo"
    args = ["pre-init-hook"]

[hooks.init.post]
    command = "echo"
    args = ["post-init-hook"]

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"