#!/bin/bash

set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}
# macOS-specific code
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
# Debian-specific code
{{   else if eq .chezmoi.osRelease.id "fedora" }}
{{ includeTemplate ".chezmoiscripts/run_onchange_install-packages-fedora.sh.tmpl" .  }}
{{   else if eq .chezmoi.osRelease.id "cachyos" }}
{{ includeTemplate ".chezmoiscripts/run_onchange_install-packages-cachyos.sh.tmpl" . }}
{{   end }}
{{ end }}
